[Unit]
Description=Deluge Web Interface
Requires=deluged.service
After=deluged.service

[Service]
User=deluge
ExecStart=/usr/bin/deluge-web -d
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
