[Unit]
Description=Deluge Daemon
Requires=nordvpnd.service
After=nordvpnd.service

[Service]
User=deluge
ExecStartPre=+/usr/sbin/nft -f /etc/deluge-killswitch.nft
ExecStart=/usr/bin/deluged -d
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
